/* Gaya untuk layar kecil (misalnya, ponsel) */
@media only screen and (max-width: 600px) {
  /* Atur gaya elemen untuk layar kecil di sini */
}

/* Gaya untuk layar menengah (misalnya, tablet) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* Atur gaya elemen untuk layar menengah di sini */
}

/* Gaya untuk layar besar (misalnya, desktop) */
@media only screen and (min-width: 1025px) {
  /* Atur gaya elemen untuk layar besar di sini */
}

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    background: rgb(0, 0, 0);
        
}
.countainer
{
    position: absolute;
    top: 80px;
    left: 100px;
    right: 100px;
    bottom: 80px;
    background: rgba(28, 27, 27, 0.43);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 50px 50px rgba(0,0,0,0.5),
                0 0 0 100px rgba(0, 0, 0, 0.359)
}
.countainer h2
{
    text-align: center;
    font-size: 10em;
    line-height: 0.7em;
    color: #fff0f0;
    margin-top: -80px;
}
.countainer h2 span
{
    display: block;
    font-weight: 300;
    letter-spacing: 6px;
    font-size: 0.2em;
}
.countdown
{
    display: flex;
    margin-top: 50px;
}
.countdown div
{
    position: relative;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: #333;
    color: #fff;
    margin: 0 15px;
    font-size: 3em;
    font-weight: 500;
}
.countdown div:before
{
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 35px;
    background: #ff0;
    color: #333;
    font-size: 0.35em;
    line-height: 35px;
    font-weight: 300;
}
.countdown #day::before
{
    content: 'Days';
}
.countdown #hour::before
{
    content: 'Hours';
}
.countdown #minute::before
{
    content: 'Minuts';
}
.countdown #second::before
{
    content: 'Seconds';
}
